.cancelar-section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 15px;
    background-color: #f8f9fa; 
    max-width: 560px; 
    margin-left: auto;
    margin-right: auto; 
    display: flex; 
    align-items: center; /* Alinea verticalmente */
}

.menu-icon-c {
    width: 70px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 20px; /* Espacio a la derecha de la imagen */
}
.menu-details-c {
    flex-grow: 1; /* Permite que el contenedor del texto ocupe el espacio restante */
}
.pricing-table .btn-back {
    font-size: 18px;
    padding: 12px 30px;
    background-color: #6c757d; /* Color de fondo gris */
    color: #fff; /* Color del texto en blanco */
    border-radius: 50px; /* Bordes redondeados */
    border: none; /* Sin borde */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efecto de transición */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 30px; /* Espacio en la parte inferior */
    width: 150px;
    text-align: center;
}
  
.pricing-table .btn-back:hover {
    background-color: #5a6268; /* Color al pasar el ratón */
    transform: scale(1.05); /* Efecto de escala */
}

.no-reserva {
    font-size: 24px; /* Tamaño de fuente más grande */
    color: black; /* Color del texto en blanco */
    background-color: white; /* Color de fondo amarillo */
    padding: 15px; /* Espaciado alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    margin: 20px 0; /* Espaciado superior e inferior */
    font-weight: bold;
}