/* Login.css 
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(153, 0, 0);
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  font-family:Arial, Helvetica, sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input-field {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.remember-me label {
  margin-left: 5px;
  font-size: 14px;
  color: #6c757d;
}

.sign-in-button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: #0056b3;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #6c757d;
}
*/
<<<<<<< HEAD

.login-clean {
  background:rgb(153, 0, 0);
  padding:80px 0;
}

.login-clean form {
  max-width:320px;
  width:90%;
  margin:0 auto;
  background-color:#ffffff;
  padding:40px;
  border-radius:4px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  text-align:center;
  padding:0 0 20px;
  font-size:100px;
  color:rgb(244,71,107);
}

.login-clean form .form-control {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:8px;
  height:42px;
}

.login-clean form .btn-primary {
  background:#f4476b;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:10px;
  text-shadow:none;
  outline:none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background:#eb3b60;
}

.login-clean form .btn-primary:active {
  transform:translateY(1px);
}

.login-clean form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity:1;
  text-decoration:none;
}

/* Login.css */
.logo-image {
  width: 150px; /* Ajusta el ancho del logo según tus necesidades */
  height: auto; /* Mantiene la proporción original del logo */
  object-fit: contain; /* Asegura que la imagen se ajuste sin distorsionarse */
}

.sr-only{
  text-align: center;
}

.form-group{
  text-align: center;
  padding-bottom: 15px;
}


=======
>>>>>>> 39fba4a784674778b6e7466a992b0463b31eeec3

.login-clean {
  background:rgb(153, 0, 0);
  padding:80px 0;
}

.login-clean form {
  max-width:320px;
  width:90%;
  margin:0 auto;
  background-color:#ffffff;
  padding:40px;
  border-radius:4px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  text-align:center;
  padding:0 0 20px;
  font-size:100px;
  color:rgb(244,71,107);
}

.login-clean form .form-control {
  background:#f7f9fc;
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:8px;
  height:42px;
}

.login-clean form .btn-primary {
  background:#f4476b;
  border:none;
  border-radius:4px;
  padding:11px;
  box-shadow:none;
  margin-top:10px;
  text-shadow:none;
  outline:none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background:#eb3b60;
}

.login-clean form .btn-primary:active {
  transform:translateY(1px);
}

.login-clean form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity:1;
  text-decoration:none;
}

/* Login.css */
.logo-image {
  width: 150px; /* Ajusta el ancho del logo según tus necesidades */
  height: auto; /* Mantiene la proporción original del logo */
  object-fit: contain; /* Asegura que la imagen se ajuste sin distorsionarse */
}

.sr-only{
  text-align: center;
}

.form-group{
  text-align: center;
  padding-bottom: 15px;
}

